<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="onDismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Filter Inventory
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="onApplyFilters()" strong>Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Brand</ion-label>
      <ion-select [(ngModel)]="selectedBrandID" (ionChange)="onFilterModels()">
        <ion-option [value]="-1">All</ion-option>
        <ion-option *ngFor="let brand of (brands | async).results | mapToIterable" [value]="brand.brandID">{{ brand.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Model</ion-label>
      <ion-select [(ngModel)]="selectedModelID">
        <ion-option [value]="-1">All</ion-option>
        <ion-option *ngFor="let model of (models | async).filtered" [value]="model.modelID">{{ model.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Category</ion-label>
      <ion-select [(ngModel)]="selectedCategoryID">
        <ion-option [value]="-1">All</ion-option>
        <ion-option *ngFor="let category of (categories | async).results | mapToIterable" [value]="category.categoryID">{{ category.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <button ion-item (click)="onResetFilters()" detail-none>
      Reset All Filters
    </button>
  </ion-list>
</ion-content>
