<ion-header>
  <ion-navbar>
    <ion-title>Rent Kit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>{{ kit?.name }}</ion-item>

    <ion-list-header>Items in kit</ion-list-header>
    <ion-item *ngFor="let kitItem of kitItems">
      <ion-icon name="checkmark" item-left *ngIf="kitItem.barcode"></ion-icon>
      <h2>{{ kitItem.brand }} {{ kitItem.model }}</h2>
      <button ion-button clear item-right color="dark" *ngIf="kitItem.barcode" (click)="onRemoveKitItem(kitItem.barcode)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>

      <ion-list-header *ngIf="otherItems.length">Other Items</ion-list-header>
      <ion-item *ngFor="let otherItem of otherItems">
        <h2>{{ otherItem.brand }} {{ otherItem.model }}</h2>
        <button ion-button clear item-right color="dark" (click)="onRemoveOtherItem(otherItem.barcode)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item>
  </ion-list>

  <button ion-button (click)="onTypeBarcode()" block outline>
    Add More Items
  </button>
  <button ion-button (click)="onScanBarcode()" block outline *ngIf="platform.is('cordova')">
    Scan More Items
  </button>
  <button ion-button (click)="onContinue()" block>
    Continue
  </button>
</ion-content>
