<ion-header>
  <ion-navbar>
    <ion-title>{{ action }} {{ type }}</ion-title>
    <ion-buttons *ngIf="action === actions.edit" end>
      <button ion-button icon-only (click)="onDelete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="fieldForm" (ngSubmit)="onSave()">
    <button ion-item type="button" *ngIf="type === itemProperties.model" (click)="onSelectBrand()" tappable detail-none>
      <ion-label color="primary">Brand</ion-label>
      <ion-label>{{field?.brand}}</ion-label>
    </button>
    <p ion-text *ngIf="errors.brand" color="danger" padding-left>
      Brand is required
    </p>

    <ion-item>
      <ion-label floating color="primary">Name</ion-label>
      <ion-input [ngModel]="field?.name" type="text" formControlName="name" (ionBlur)="blur.name = true"></ion-input>
    </ion-item>
    <p ion-text *ngIf="name.errors?.required && blur.name" color="danger" padding-left>
      Name is required
    </p>

    <div padding>
      <button ion-button type="submit" block>
        Save
      </button>
    </div>
	</form>
</ion-content>
