<ion-header>
  <ion-navbar>
    <ion-title>{{action}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list-header>Scanned Items</ion-list-header>

  <ion-list>
    <ion-item *ngFor="let item of (items | async).rentals | mapToIterable">
      <h2>{{ item.brand }} {{ item.model }}</h2>
      <button ion-button clear item-right color="dark" (click)="onRemoveItem(item.barcode)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding>
  <button ion-button (click)="onTypeBarcode()" block outline *ngIf="!platform.is('cordova')">
    Add More Items
  </button>
  <button ion-button (click)="onScanBarcode()" block outline *ngIf="platform.is('cordova')">
    Scan More Items
  </button>
  <button ion-button *ngIf="action === actions.rent" (click)="onContinue()" block>
    Continue
  </button>
  <button ion-button *ngIf="action === actions.return" (click)="onReturn()" block>
    Return
  </button>
</ion-footer>
