<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSave()">
    <ion-item>
      <ion-label floating color="primary">Current Password</ion-label>
      <ion-input type="password" formControlName="currentPassword" (ionBlur)="blur.currentPassword = true"></ion-input>
    </ion-item>
    <p ion-text *ngIf="currentPassword.errors?.required && blur.currentPassword" color="danger" padding-left>
      Current password is required
    </p>

    <ion-item>
      <ion-label floating color="primary">New Password</ion-label>
      <ion-input type="password" formControlName="newPassword" (ionBlur)="blur.newPassword = true"></ion-input>
    </ion-item>
    <div [hidden]="newPassword.valid || !blur.newPassword" padding-left>
      <p ion-text *ngIf="newPassword.errors?.required" color="danger">
        New password is required
      </p>
      <!-- Notice that the l needs to be lower case in minlength here -->
      <p ion-text *ngIf="newPassword.errors?.minlength" color="danger">
        Password must be at least 7 characters
      </p>
    </div>

    <ion-item>
      <ion-label floating color="primary">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword" (ionBlur)="blur.confirmPassword = true"></ion-input>
    </ion-item>
    <p ion-text *ngIf="confirmPassword.errors?.required && blur.confirmPassword" color="danger" padding-left>
      Confirm password is required
    </p>

    <div padding>
      <button ion-button type="submit" block>
        Save
      </button>
    </div>
	</form>
</ion-content>
