<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="onDismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Choose {{ type.toLowerCase() }}
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText"
                   (ionInput)="onGetElements()"
                   placeholder="Filter {{ type }}"
                   showCancelButton="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item detail-none *ngIf="!showNew" (click)="onCreate()">
       Create new {{ type.toLowerCase() }}
       <ion-icon name="add" item-right></ion-icon>
    </button>
    <button ion-item detail-none *ngIf="showNew" (click)="onDismiss(queryText, true)">
       Create new {{ type.toLowerCase() }}: {{ queryText }}
    </button>
    <button ion-item detail-none *ngFor="let element of filteredElements" (click)="onDismiss(element)">
      {{ element.name }}
    </button>
  </ion-list>
</ion-content>
