<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Choose {{ type.toLowerCase() }}
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText"
                   (ionInput)="getElements()"
                   placeholder="Filter {{ type }}"
                   showCancelButton="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item detail-none *ngFor="let element of filteredElements" (click)="dismiss(element)">
      {{ element.name }}
    </button>
    <button ion-item detail-none *ngIf="showNew" (click)="dismiss(queryText, true)">
       Create new {{ type.toLowerCase() }}: {{ queryText }}
    </button>
  </ion-list>
</ion-content>
