<ion-header>
  <ion-navbar>
    <ion-title>Item</ion-title>
    <ion-buttons *ngIf="platform.is('ios')" end>
      <button ion-button clear (click)="onEditItem()">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
    <ion-item>{{(item | async)?.brand}}</ion-item>
    <ion-item>{{(item | async)?.model}}</ion-item>
    <ion-item>{{(item | async)?.category}}</ion-item>
	</ion-list>

  <ion-fab right bottom *ngIf="platform.is('android')">
    <button ion-fab color="secondary" (click)="onEditItem()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
</ion-content>
