<ion-header>
  <ion-navbar>
    <ion-title>Item</ion-title>
    <ion-buttons *ngIf="platform.is('ios')" end>
      <button ion-button clear (click)="editItem()">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
    <ion-item>{{item?.brand}}</ion-item>
    <ion-item>{{item?.model}}</ion-item>
    <ion-item>{{item?.category}}</ion-item>
	</ion-list>

  <ion-fab right bottom *ngIf="platform.is('android')">
    <button ion-fab color="secondary" (click)="editItem()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
</ion-content>
