<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kits</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAdd()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let kit of (kits | async).results | mapToIterable | sort" (click)="onViewKit(kit.kitID)">
      <h2>{{ kit.name }}</h2>
    </button>

    <ion-item *ngIf="!((kits | async).results | mapToIterable).length && !(kits | async).showLoadingSpinner">
      No kits found <button ion-button item-right (click)="onAdd()">Add a kit</button>
    </ion-item>

    <ion-spinner class="center-spinner" *ngIf="(kits | async).showLoadingSpinner"></ion-spinner>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadKits())" [enabled]="loadMoreItems">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
