<ion-header>
  <ion-navbar>
    <ion-title>Rent</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="rentalForm" (ngSubmit)="onRent()">
		<ion-list>
      <ion-list-header>Rental Details</ion-list-header>

      <ion-item>
				<ion-label floating color="primary">Return Date</ion-label>
        <!-- Displays date in the following format: Sun 01 Jan, 2017 -->
        <ion-datetime displayFormat="DDD D MMM, YYYY" pickerFormat="DD MMM YYYY" type="text" formControlName="end">
        </ion-datetime>
			</ion-item>
      <div [hidden]="end.valid" padding-left>
        <p ion-text *ngIf="end.errors?.required" color="danger">
          End date is required
        </p>
        <p ion-text *ngIf="!end.errors?.required && end.errors?.invalid" color="danger">
          End date should be in the future
        </p>
      </div>

      <button ion-item type="button" (click)="onSelectExternalRenter()" tappable detail-none>
        <ion-label color="primary">External Renter</ion-label>
        <ion-label>{{ externalRenter?.name }}</ion-label>
      </button>

      <ion-item>
        <ion-label floating color="primary">Notes</ion-label>
        <ion-textarea type="text" formControlName="notes"></ion-textarea>
      </ion-item>

      <ion-list-header>Scanned Items</ion-list-header>

      <ion-item *ngFor="let item of (items | async).rentals | mapToIterable">
        {{ item.brand }} {{ item.model }}
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button type="submit" block>
        Rent
      </button>
    </div>
	</form>
</ion-content>
