<ion-header>
  <ion-navbar>
    <ion-title>Kit</ion-title>
    <ion-buttons *ngIf="platform.is('ios')" end>
      <button ion-button clear (click)="editKit()">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
    <ion-item>{{kit?.name}}</ion-item>
	</ion-list>

  <ion-list>
    <ion-list-header>Items</ion-list-header>
    <ion-item *ngFor="let kitItem of kitItems">
      <h2>{{ kitItem.brand }} {{ kitItem.model }}</h2>
    </ion-item>

    <ion-item *ngIf="!kitItems.length">
      No items found
    </ion-item>
  </ion-list>

  <ion-fab right bottom *ngIf="platform.is('android')">
    <button ion-fab color="secondary" (click)="editKit()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
</ion-content>
