<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAdd()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="segment" (ionChange)="filterItems()">
    <ion-segment-button [value]="-1">
      All
    </ion-segment-button>
    <ion-segment-button [value]="1">
      Available
    </ion-segment-button>
    <ion-segment-button [value]="0">
      Rented
    </ion-segment-button>
  </ion-segment>

  <ion-item>
    <ion-label floating>Brand</ion-label>
    <ion-select [(ngModel)]="selectedBrandID" (ionChange)="filterItems()">
      <ion-option [value]="-1">All</ion-option>
      <ion-option *ngFor="let brand of allBrands" [value]="brand.brandID">{{ brand.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>Model</ion-label>
    <ion-select [(ngModel)]="selectedModelID" (ionChange)="filterItems()">
      <ion-option [value]="-1">All</ion-option>
      <ion-option *ngFor="let model of filteredModels" [value]="model.modelID">{{ model.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>Category</ion-label>
    <ion-select [(ngModel)]="selectedCategoryID" (ionChange)="filterItems()">
      <ion-option [value]="-1">All</ion-option>
      <ion-option *ngFor="let category of allCategories" [value]="category.categoryID">{{ category.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="filteredItems">
    <button ion-item *ngFor="let item of filteredItems" (click)="viewItem(item)">
      <h2>{{ item.brand }} {{ item.model }}</h2>
    </button>
  </ion-list>
  <ion-item *ngIf="!filteredItems">
    No items found
  </ion-item>
</ion-content>
