<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inventory</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAdd()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="segment" (ionChange)="onFilterItems()">
    <ion-segment-button [value]="-1">
      All
    </ion-segment-button>
    <ion-segment-button [value]="1">
      Available
    </ion-segment-button>
    <ion-segment-button [value]="0">
      Rented
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="items">
    <ion-list-header>Items</ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="onViewItem(item)">
      <h2>{{ item.brand }} {{ item.model }}</h2>
    </button>

    <ion-item *ngIf="!items">
      No items found
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadItems())" [enabled]="loadMoreItems">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="onOpenFilters($event)"><ion-icon name="options"></ion-icon></button>
  </ion-fab>
</ion-content>
